<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="google-signin-client_id" content="718039634792-9v2ql0jog1sqoacgujg0cp9luvn5gg1d.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        function onSignIn(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/google_signin');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                if (xhr.status === 200) {
                    window.location.href = "/dashboard";
                } else {
                    console.error(xhr.responseText);
                }
            };
            xhr.send('id_token=' + id_token);
        }
    </script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('signup') }}">Sign up</a></li>
                <li><a href="{{ url_for('login') }}">Log in</a></li>
                <li class="g-signin2" data-onsuccess="onSignIn"></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        &copy; 2023 My Web App
    </footer>
</body>
</html>

